<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/234deba2-341f-4b13-862d-c38227528fba/resourcegroups/UrlShortenerResourceGroup/providers/Microsoft.Web/sites/li-nk</ResourceId>
    <ResourceGroup>UrlShortenerResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://li-nk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>li-nk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>li-nk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$li-nk</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LinkDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:link.database.windows.net;Initial Catalog=LinkDB;Persist Security Info=True;User ID=m.chamanpara;Password=Raziye@20;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UrlShortener.DataAccess.UrlShortenerContext, UrlShortener.DataAccess" MigrationConfiguration="UrlShortener.DataAccess.Migrations.Configuration, UrlShortener.DataAccess" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LinkDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:link.database.windows.net;Initial Catalog=LinkDB;Persist Security Info=True;User ID=m.chamanpara;Password=Raziye@20;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LinkDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:link.database.windows.net;Initial Catalog=LinkDB;Persist Security Info=True;User ID=m.chamanpara;Password=Raziye@20;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LinkDB-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Initial Catalog=LinkDB;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LinkDB-Web.config Connection String">
      <ParameterValue>Server=tcp:link.database.windows.net,1433;Initial Catalog=LinkDB;Persist Security Info=False;User ID=m.chamanpara;Password=Raziye@20;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UrlShortenerDB-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=LinkDB;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="LinkDB" />
  </ItemGroup>
</Project>